<div class="container relative w-[1240px] h-screen mb-[200px] m-auto">
    <div class="bg-[#f0f5ff] h-[500px]">
        <header class="h-[80px] bg-blue-600 rounded"></header>

        <h1 class="font-bold text-[60px] text-center">Currency Converter</h1>
        <p class="mt-4 text-center">Need to make an international business payment? Take a look at our live foreign exchange rates.</p>
    </div>

    <div class="h-[370px] w-[900px] absolute top-[300px] mx-auto left-0 right-0 rounded-[8px] bg-white shadow-2xl">
        <h2 class="text-[32px] mx-auto text-center mt-[30px] max-w-[500px] font-bold">Make fast and affordable international business payments</h2>
        <p class="text-center mt-[30px]">Send secure international business payments in <strong>XX</strong> currencies, all at competitive rates with no hidden fees.</p>
        
        <div class="px-10 mt-[30px] flex items-center gap-x-5">
            <div class="flex items-center">
                <app-input label="Amount"></app-input>
                <app-selector></app-selector>
            </div>

            <img class="cursor-pointer hover:scale-110 transition-transform" src="exchange.svg" />

            <div class="flex items-center">
                <app-input label="Converted to"></app-input>
                <app-selector></app-selector>
            </div>
        </div>
    </div>
</div>